
  
  body {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    min-width: 440px;
    max-width: 740px;
    background: #e5e5e5;
    color: #000;
    font: 300 14px/20px "Helvetica Neue", sans-serif;
  }
  
  ul {
    padding-left: 80px;
    list-style: none;
  }
  ul li {
    background: rgb(243, 240, 240);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  ul li:not(:first-child) {
    margin-top: 20px;
  }
  ul li:before {
    content: "";
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent rgb(243, 240, 240);
    position: absolute;
    top: 10px;
    left: -10px;
  }
  ul li header {
    border-bottom: 1px solid #e5e5e5;
    font-size: 0;
    height: 50px;
  }
  ul li header h1 {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
  }
  ul li header h1 a {
    text-decoration: none;
    cursor: pointer;
  }
  ul li header h1.author {
    color: #9a3;
  }
  ul li header h1.author:after {
    content: "Author";
    margin-left: 10px;
    padding: 0 4px;
    background: #9a3;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
  }
  ul li header h1.author a {
    color: #9a3;
  }
  ul li header img {
    width: 60px;
    height: 60px;
    background: #fff;
    border: 4px solid #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: -90px;
   
  }
  ul li header div {
    height: 40px;
    float: right;
  }
  ul li header div button {
    width: 40px;
    height: 40px;
   
    cursor: pointer;
  }
  ul li header div button .first{
    background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_mode_edit_48px-512.png);
    background-size: 25px 25px;
    width:  25px;
    height: 25px;
    cursor: pointer;
  }
  ul li header div button .second{
    background: url(https://image.flaticon.com/icons/png/512/61/61848.png);
    background-size: 25px 25px;
    width:  25px;
    height:  25px;
    cursor: pointer;
  }
  // ul li header div button:nth-child(1) {
  //   background-position: 0 0;
  // }
  // ul li header div button:nth-child(1).loved {
  //   background-position: -80px 0;
  // }
  // ul li header div button:nth-child(2) {
  //   background-position: 0 -40px;
  // }
  // ul li header div button:hover:nth-child(1) {
  //   background-position: -40px 0;
  // }
  // ul li header div button:hover:nth-child(1).loved {
  //   background-position: -80px 0;
  // }
  // ul li header div button:hover:nth-child(2) {
  //   background-position: -40px -40px;
  // }
  ul li p {
    padding: 20px;
    white-space: pre-line;
    overflow-x: hidden;
  }
  ul li p .reply {
    color: #9a3;
  }
  ul li p a {
    text-decoration: underline;
    cursor: pointer;
  }
  ul li p a:hover {
    text-decoration: none;
  }
  
  form {
    margin-top: 20px;
    padding: 20px 20px 20px 100px;
    background: #fff;
    border-radius: 2px;
    font-size: 0;
    position: relative;
  }
  form:before {
    content: "";
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent rgba(229, 229, 229, 0.5);
    position: absolute;
    top: 30px;
    left: 90px;
  }
  form input, form textarea {
    padding: 10px 20px;
    width: 100%;
    background: rgba(229, 229, 229, 0.5) no-repeat;
    font-size: 14px;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
    display: block;
    cursor: text;
  }
  form input:not(:first-child), form textarea:not(:first-child) {
    margin-top: 2px;
  }
  form input[placeholder=Email], form input[placeholder=Website], form textarea[placeholder=Email], form textarea[placeholder=Website] {
    width: 50%;
    display: inline-block;
  }
  form input[placeholder=Email], form textarea[placeholder=Email] {
    border-right: 1px solid #fff;
  }
  form input[placeholder=Website], form textarea[placeholder=Website] {
    border-left: 1px solid #fff;
  }
  form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
    color: #666;
  }
  form input::-moz-placeholder, form textarea::-moz-placeholder {
    color: #666;
  }
  form input:-moz-placeholder, form textarea:-moz-placeholder {
    color: #666;
  }
  form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
    color: #666;
  }
  form textarea {
    margin-top: 1px;
    padding: 20px;
    height: 120px;
    resize: none;
  }
  form img {
    width: 60px;
    height: 60px;
    background: rgba(229, 229, 229, 0.5);
    border: 4px solid rgba(229, 229, 229, 0.5);
    border-radius: 2px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  form button {
    margin: 10px 10px 0 auto;
    padding: 10px 0;
    width: 200px;
    background: #9a3;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    display: block;
    cursor: pointer;
  }
  img{
    margin-left: 20px;
    width: 25%;
    height: 25%;
  }

  .styled-table {
    border-collapse: collapse;
    
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    margin-left: 80px;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   
}
th{
    width: 10px;
}
.left{
    float:left;
}
.right{
    float: right;
}

.styled-table tr  {
    background-color: #844acfa8;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    
}

.styled-table  tr td{
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
    color: #53298a;

}