<br><br>
    <ul>
        <li *ngFor="let p of posts">
          <header>
            <h1>{{user?.username}}</h1>

            <button (click)="like(p.uuid)" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>thumb_up_alt</mat-icon>{{p.likesCount}}
            </button>
            <button (click)="dislike(p.uuid)" mat-icon-button color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>thumb_down_alt</mat-icon>{{p.dislikesCount}}
            </button>
            <button style="margin-left: 50px;" (click)="sendComment(p.uuid)" mat-icon-button aria-label="Example icon button with a home icon">
              <mat-icon>insert_comment</mat-icon>Leave a comment
            </button>

            <img class="image" mat-card-image src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" alt="photo">
          </header>
          <p>{{p?.text}}</p>
          <div>
            <button *ngIf="showComm == false" (click)="showComments(p)" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>expand_more</mat-icon>Show comments
            </button>
            <button  *ngIf="showComm == true" (click)="hideComments(p)" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>expand_less</mat-icon>Hide comments
            </button>
          </div>
          <div *ngIf="showComm === true">
            <ul>
              <li *ngFor="let com of comments">
                <header>
                  <h1>{{com.author.username}}</h1>
                  <img style="height: 40px; width: 40px;" class="image" mat-card-image src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" alt="photo">
                </header>
                <p>{{com.text}}</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
