<div class="collum">

  <div class="row" style="align-self: center;" >
    <div *ngIf="this.offers?.length === 0 ">
      <p>There is no offers to show!</p>
    </div>

    <div style="max-width: 55rem;" class="card  col-md-4 offer-card" *ngFor="let offer of offers; index as i; first as isFirst">

      <div  class="card h-100 offer-card-inside">
        <div  class="card-header" style="text-align: center;">
          <p style="color: yellow;">{{ offer.company?.name }}</p>

        </div>

       
        <div class="card-body">
          <h4 class="card-title">
            <div class="link">
              <h1 style="color:blue;">{{offer.position}}</h1>
            </div>
          </h4>

          <hr style="border-top: 2px solid blue;">
        </div>
        <br>
        <p class="card-text" style="margin-left: 5px;">Prerequisites:</p>
        <div class="card-body" > <!--*ngFor="let pre of offer.prerequisites"-->
            
              <div style="margin-left: 15px;font-size:5 ;" class="link">
                {{ offer.prerequisites }}
              </div>
            
  
          </div>
          <br><br><br>
          <div style=" background-color:rgb(37, 150, 190,0.3)" class="card-footer">
            <small style="margin-left: 5px;margin-bottom:30px;"class="text-muted">{{offer.description}}</small>
          </div>


      </div>
      <br>
    </div>
  </div>

  <!--  <mat-paginator [length]="length"
               [pageSize]="pageSize"
               (page)="pageEvent = $event"
               aria-label="Select page">
</mat-paginator> 
-->
 

</div>
