a {
    cursor: pointer;
  }
  
  .offer-card{
    margin-top: 50px;
  } 
  
  .offer-card-inside{
    //background-color:rgb(250, 206, 156);
    //color: rgb(71, 46, 6);
    background-color:rgb(160, 195, 236);
    color: rgb(71, 56, 6);
    font-size: large;
    
    
  }
  
  .link{
    text-align: center;
  }
  
 .mat-form-field { //paginacija
  margin-right: 12px;
}
  
  