<h1 align="center"> Blocked accounts </h1>
    <div *ngFor="let p of profiles">
        <br><br>
        <table  class="styled-table">
            <thead>
                <tr>
                    <th>{{p?.username}}</th>
                   <th><button mat-button color="primary"  (click)="unblock()" >Unblock</button></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>First Name: </td>
                    <td>{{p?.firstName}}</td>
                </tr>
                <tr>
                    <td>Last Name: </td>
                    <td>{{p?.lastName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
